<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>HISTÓRIA</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>TRABALHO DE HISTÓRIA (20 PONTOS)</h4>
  </header>
    <div class="container">
      
      <h3 class="h6 text-lg-center text-white">Leia os textos, observe as imagens com atenção e clique na opção correta, em cada questão. Quando terminar, confira suas respostas e clique no botão responder.</h3>
      <form method="POST" action="/gabarito_historia" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">
          <div class="h5 text-white text-center">A diversidade cultural</div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 1</h5>
                  <p class="card-text text-center"><img src="/img/capoeira.gif" class="img-fluid"></p>
                  <p class="card-text">O que é que está sendo demonstrado no GIF acima?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q1" value="A" maxlength="1">-A capoeira, que é uma arte marcial trazida ao Brasil pelos negros escravizados.</li>
                          <li><input type="radio" name="q1" value="B" maxlength="1">-A capoeira que é uma dança criada pelos colonizadores.</li>
                          <li><input type="radio" name="q1" value="C" maxlength="1">-A capoeira que é uma arte marcial europeia.</li>
                          <li><input type="radio" name="q1" value="D" maxlength="1">-Uma dança.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 2</h5>
                 
<p class="texto_paragrafo">As diferenças culturais são resultado da trajetória dos povos ao longo do tempo, assim como da relação que eles têm com os lugares onde habitam. Por isso, para entender essas diferenças culturais, é muito importante estudar a história dos povos.</p>
<p class="texto_paragrafo">Quando diferentes culturas entram em contato, podem ocorrer tanto conflitos quanto influências e trocas culturais entre elas, que dão origem a novos modos de vida e tradições.  <small>p.55</small></p>

<br>
<p class="card-text">De acordo com o texto acima, qual é o principal fator responsável pelas diferenças culturais entre os povos?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q2" value="A" maxlength="1">-Diferenças linguísticas</li>
                          <li><input type="radio" name="q2" value="B" maxlength="1">-Diferenças religiosas</li>
                          <li><input type="radio" name="q2" value="C" maxlength="1">-Trajetória histórica dos povos</li>
                          <li><input type="radio" name="q2" value="D" maxlength="1">-Influência geográfica dos lugares habitados</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 3</h5>
                  <p class="card-text">Quando diferentes culturas entram em contato, quais são os possíveis resultados?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q3" value="A" maxlength="1">-Conflitos e rivalidades culturais.</li>
                          <li><input type="radio" name="q3" value="B" maxlength="1">-Influências e trocas culturais.</li>
                          <li><input type="radio" name="q3" value="C" maxlength="1">-Assimilação completa de uma cultura pela outra.</li>
                          <li><input type="radio" name="q3" value="D" maxlength="1">-Ausência de interação cultural.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 4</h5>
                  <p class="texto_paragrafo">Quando os portugueses chegaram, encontraram os povos indígenas vivendo em aldeias. Ainda hoje, a maioria dos indígenas vive em aldeias. Cada povo constrói a aldeia de acordo com suas tradições, o ambiente em que vive e a relação que possuem com os não indígenas. Vejamos algumas características dessas aldeias:</p>
                  <ul>
                    <li><p class="text-justify">A construção das moradias pode ser feita com recursos naturais, como palha, cipós e madeira. Atualmente, algumas comunidades, devido à proximidade das cidades, constroem suas casas com materiais comprados, como telhas e tijolos.</p></li>
                    <li><p class="text-justify">Alguns grupos constroem grandes moradias onde vivem várias famílias aparentadas, enquanto outros grupos constroem moradias menores.</p></li>
                    <li><p class="text-justify">O formato das aldeias pode variar.</p></li>
                  </ul> 
                  <p class="card-text">Quais são os materiais utilizados na construção das moradias nas aldeias indígenas?</p>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q4" value="A" maxlength="1">-Tijolos e cimento.</li>
                          <li><input type="radio" name="q4" value="B" maxlength="1">-Palha, cipós e madeira.</li>
                          <li><input type="radio" name="q4" value="C" maxlength="1">-Telhas e pedra.</li>
                          <li><input type="radio" name="q4" value="D" maxlength="1">-Metal e concreto.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 5</h5>
                  <p class="card-text">Como as moradias são organizadas nas aldeias indígenas?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-Cada pessoa constrói sua própria moradia.</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">- As moradias não são construídas nas aldeias indígenas.</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-Cada família possui sua própria moradia.</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-Várias famílias compartilham grandes moradias.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">O que pode variar nas aldeias indígenas?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-O formato das moradias.</li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">- A ausência de moradias.</li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-A construção com materiais industrializados.</li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-A presença de pessoas não indígenas.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 7</h5>
                  <p>Observe a imagem abaixo:</p>
                  <div class="text-center"><img class="img-fluid" src="/img/gravura p58.png" alt=""></div>
                  <p class="card-text">Quem fez o desenho acima?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q7" value="A" maxlength="1">-Os povos indígenas.</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-Os escravos.</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-Théodore de Bry</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-Pablo Picasso</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">O que a imagem, da questão anterior, está mostrando?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-Uma dança da chuva Yanomami.</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-Um casamento Macuxi.</li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-Uma brincadeira de roda de festa junina.</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-Uma dança Tupinambá.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 9</h5>
                  <div class="h5">Os povos africanos</div>
                  <p class="texto_paragrafo">Os africanos trazidos para o Brasil também tinham culturas muito ricas e diversificadas. A ideia de família e as relações entre as pessoas que fazem parte dela são exemplos da diversidade cultural desses povos.

                  </p>
                  <p class="texto_paragrafo">Na África, em alguns povos, todos os filhos que nasciam se tornavam parte apenas da família do pai. A mãe e seus parentes não eram considerados da mesma família que o filho. Por outro lado, existiam sociedades em que ocorria o contrário: todos os filhos eram considerados parte apenas da família da mãe.
                  </p>
                  <p class="texto_paragrafo">Alguns povos consideravam que as ações de um dos membros da família eram responsabilidade da família inteira. Assim, todos eram responsáveis pelas atitudes de cada um. Se uma pessoa cometesse um crime, por exemplo, todos os integrantes da família dela poderiam ser responsabilizados e punidos por isso. O trabalho era dividido entre os membros da família; geralmente, as mulheres eram responsáveis pelo trabalho agrícola e por cuidar dos familiares, enquanto os homens deviam construir as casas, caçar e cuidar do gado. Em algumas regiões, as famílias formavam pequenas aldeias nas quais todos se ajudavam para produzir alimentos e se proteger de invasores.
                  </p>
                  <p class="texto_paragrafo">A cultura, como vimos, também é formada por modos de pensar. Esses modos de pensar se manifestam, por exemplo, na forma como cada sociedade se relaciona com a infância. O texto a seguir conta como era a infância de algumas crianças africanas no passado.
                  </p>
                  <br>
                  <p class="card-text">Na África, como ocorria a determinação da filiação familiar em alguns povos?
                  </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-Todos os filhos pertenciam à família do pai..</li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-Todos os filhos pertenciam à família da mãe.</li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-Os filhos eram considerados parte das famílias dos dois pais.</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-Os filhos não eram considerados parte de nenhuma família.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <p class="card-text">Qual era a responsabilidade da família em relação às ações individuais em algumas culturas africanas?
                  </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q10" value="A" maxlength="1">-Cada membro da família era responsável apenas por suas próprias ações.</li>
                          <li><input type="radio" name="q10" value="B" maxlength="1">-As ações de um membro da família não afetavam os demais.</li>
                          <li><input type="radio" name="q10" value="C" maxlength="1">-Todos os integrantes da família eram responsáveis pelas atitudes de cada um.</li>
                          <li><input type="radio" name="q10" value="D" maxlength="1">-A responsabilidade pelas ações individuais não era atribuída à família.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 11</h5>
                  <div class="h5">Os europeus</div>
                  <p class="texto_paragrafo">Os europeus também possuíam culturas ricas e diversificadas. Na época da chegada dos portugueses à América, em 1500, muitos reinos europeus já haviam se formado, enquanto outros ainda estavam em processo de formação.
                  </p>
                  <p class="texto_paragrafo">Naquele período, uma parte significativa dos europeus vivia em grandes propriedades rurais. Nestas propriedades, os camponeses cultivavam alimentos, construíam aldeias e produziam a maioria dos objetos necessários para a vida cotidiana. Parte da produção era entregue ao nobre proprietário da terra, que era responsável por cobrar impostos e estabelecer leis a serem seguidas.
                  </p>
                  <p class="texto_paragrafo">Era comum que as propriedades rurais tivessem castelos e, ao seu redor, grandes muralhas feitas de madeira e pedra construídas para a defesa do território.
                  </p>
                  <p class="texto_paragrafo">Naquela época, a maioria da população dos países europeus era católica. A Igreja Católica exercia um grande poder e controlava a produção de obras de arte e livros. Portanto, os costumes, o trabalho, as festas e outros aspectos da cultura europeia eram fortemente influenciados pelas ideias católicas.
                  </p>
                  <p class="texto_paragrafo">As cidades, naquela época, não eram muito grandes. Por exemplo, Paris, Londres e Lisboa eram consideravelmente menores do que são hoje.
                  </p>
                  <br>
                  <p class="card-text">Qual era o papel da Igreja Católica na cultura europeia durante o período abordado no texto?
                  </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q11" value="A" maxlength="1">-A Igreja Católica não exercia influência na cultura europeia.</li>
                          <li><input type="radio" name="q11" value="B" maxlength="1">-A Igreja Católica era responsável pela construção de castelos nas propriedades rurais.</li>
                          <li><input type="radio" name="q11" value="C" maxlength="1">-A Igreja Católica controlava a produção de obras de arte e livros.</li>
                          <li><input type="radio" name="q11" value="D" maxlength="1">-A Igreja Católica era responsável pela defesa das propriedades rurais.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="h5 text-white text-center">Os princípios do respeito aos outros</div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 12</h5>
                  <p class="texto_paragrafo">Como já vimos, a cultura brasileira se formou inicialmente a partir do contato e das trocas entre culturas muito diferentes entre si: as dos indígenas que habitavam o território originalmente, as dos povos negros trazidos da África e as dos europeus, principalmente a portuguesa.
                  </p>
                  <p class="texto_paragrafo">Ao longo dos séculos, outros povos que chegaram ao Brasil trouxeram seus costumes e tradições. Originários de diferentes regiões do mundo, todos eles contribuíram para a riqueza e a diversidade da cultura brasileira.</p>
                  <p class="texto_paragrafo">No entanto, o encontro entre os diferentes povos nem sempre foi pacífico. Os povos indígenas e os africanos escravizados sofreram violências causadas pelos portugueses, que proibiram a prática de seus costumes, modos de vida e rituais religiosos próprios de suas culturas. Uma das justificativas para essa violência era a necessidade de cristianizar africanos e indígenas, com os portugueses buscando impor sua cultura, que, como já mencionado, era profundamente influenciada pela Igreja Católica.</p>
                  <p class="texto_paragrafo">Essa intolerância em relação a outras culturas tem consequências até os dias atuais. Atualmente, existem muitos casos de preconceito racial e religioso no Brasil. Portanto, é necessário adotar medidas para garantir que haja sempre respeito às diferentes práticas, crenças e culturas.</p>
                  <br>
                  <p class="card-text">Quais são as três principais culturas que contribuíram para a formação da cultura brasileira, de acordo com o texto?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q12" value="A" maxlength="1">-Indígena, africana e espanhola.</li>
                          <li><input type="radio" name="q12" value="B" maxlength="1">-Indígena, africana e portuguesa.</li>
                          <li><input type="radio" name="q12" value="C" maxlength="1">-Indígena, africana e francesa.</li>
                          <li><input type="radio" name="q12" value="D" maxlength="1">-Indígena, africana e inglesa.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 13</h5>
                  <p class="card-text">Qual foi uma das justificativas utilizadas pelos portugueses para proibir os costumes e rituais religiosos das culturas indígena e africana no Brasil?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q13" value="A" maxlength="1">-Desejo de manter a cultura portuguesa como única referência.</li>
                          <li><input type="radio" name="q13" value="B" maxlength="1">-Necessidade de preservar as tradições indígenas e africanas.</li>
                          <li><input type="radio" name="q13" value="C" maxlength="1">-Influência da Igreja Católica na promoção da diversidade cultural.</li>
                          <li><input type="radio" name="q13" value="D" maxlength="1">-Busca pela harmonia e respeito entre as diferentes culturas.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 14</h5>
                  <div class="text-center"><img class="img-fluid" src="/img/tirinha bullying.png" alt=""></div>
                  <br>
                  <p class="card-text">Por que a menina diz que espera que a pessoa que ri de todos consiga superar isso?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q14" value="A" maxlength="1">-Porque ela está gostando da atitude.</li>
                          <li><input type="radio" name="q14" value="B" maxlength="1">-Porque ela acha que ele está doente.</li>
                          <li><input type="radio" name="q14" value="C" maxlength="1">-Porque ela acha que ele nunca vai respeitar as outras pessoas.</li>
                          <li><input type="radio" name="q14" value="D" maxlength="1">-Porque ela espera que um dia ele/ela passe a respeitar os outros.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 15</h5>
                  <p class="card-text">Qual a mensagem da tirinha acima?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q15" value="A" maxlength="1">-Que as pessoas podem continuar praticando bullying.</li>
                          <li><input type="radio" name="q15" value="B" maxlength="1">-Que a pessoa que pratica bullying precisa mudar de atitude.</li>
                          <li><input type="radio" name="q15" value="C" maxlength="1">-Que desrespeitar as pessoas é uma coisa boa.</li>
                          <li><input type="radio" name="q15" value="D" maxlength="1">-Que o bullying é legal.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 16</h5>
                  <p class="card-text">Qual das seguintes opções descreve corretamente os direitos e deveres no Brasil?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q16" value="A" maxlength="1">-Os direitos são garantidos pela Constituição, mas os deveres são opcionais.</li>
                          <li><input type="radio" name="q16" value="B" maxlength="1">-Os direitos e deveres são igualmente importantes e devem ser cumpridos por todos os cidadãos.</li>
                          <li><input type="radio" name="q16" value="C" maxlength="1">-Os direitos são exclusivos dos cidadãos de maior renda, enquanto os deveres são obrigatórios para todos.</li>
                          <li><input type="radio" name="q16" value="D" maxlength="1">-Os direitos são concedidos apenas aos cidadãos mais influentes, enquanto os deveres são irrelevantes.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 17</h5>
                  <div class="h5">Os direitos e os deveres</div>
                  <p class="texto_paragrafo">Na maioria dos países, ser cidadão significa possuir uma nacionalidade e ter direitos e deveres. Entre esses direitos está o de participar das decisões tomadas no país. Essa concepção de cidadania não existiu sempre, tendo surgido na Grécia Antiga, em Atenas, no final do século VI a.C., na Antiguidade.</p>
                  <p class="texto_paragrafo">Em Atenas, a noção de cidadania diferia da atual. Apenas os homens adultos, nascidos livres e filhos de atenienses, eram considerados cidadãos. As mulheres, crianças, estrangeiros e escravos não possuíam direitos políticos e não podiam se candidatar a cargos públicos.</p>
                  <p class="texto_paragrafo">A ideia de cidadania como um privilégio de poucos perdurou por muitos séculos e ocorreu em diversas sociedades. Foi somente a partir do final do século XVIII que homens e mulheres começaram a lutar para mudar a sociedade, buscando garantir que todos tivessem os mesmos direitos.</p>
                  <br>
                  <p class="card-text">Na Grécia Antiga, em Atenas, qual grupo de pessoas era considerado cidadão e possuía direitos políticos?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q17" value="A" maxlength="1">-Mulheres e crianças.</li>
                          <li><input type="radio" name="q17" value="B" maxlength="1">-Estrangeiros e escravos.</li>
                          <li><input type="radio" name="q17" value="C" maxlength="1">-Todos os habitantes, independentemente de sua origem.</li>
                          <li><input type="radio" name="q17" value="D" maxlength="1">-Homens adultos, nascidos livres e filhos de atenienses.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 18</h5>
                  <p class="card-text">Quando foi que homens e mulheres começaram a lutar para mudar a sociedade e garantir que todos tivessem os mesmos direitos?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q18" value="A" maxlength="1">-No final do século XVIII.</li>
                          <li><input type="radio"  name="q18" value="B" maxlength="1">-No século VI a.C., na Grécia Antiga.</li>
                          <li><input type="radio" name="q18" value="C" maxlength="1">-Durante a Idade Média.</li>
                          <li><input type="radio" name="q18" value="D" maxlength="1">-No século XX.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 19</h5>
                  <div class="h5">Os direitos humanos</div>
                  <p class="texto_paragrafo">Nos séculos XIX e XX, muitas pessoas continuaram lutando em seus países por direitos iguais e pelo exercício pleno da cidadania.</p>
                  <p class="texto_paragrafo">Em países da Europa e da América, incluindo o Brasil, as mulheres lutavam pelo direito ao voto, os negros combatiam a discriminação racial, e os trabalhadores buscavam melhorias nas condições de trabalho e nos salários. Essas lutas resultaram em conquistas, como leis que garantiam direitos e proteção aos cidadãos.</p>
                  <p class="texto_paragrafo">Entre os direitos conquistados, destacam-se:</p>
                  <ul>
                    <li>Criação de leis trabalhistas que garantiam direitos como férias, salário mínimo, descanso semanal remunerado e segurança no trabalho.</li>
                    <li>Direito de receber tratamento médico adequado e gratuito.</li>
                    <li>Direitos políticos para participação nas decisões governamentais.</li>
                    <li>Igualdade de direitos entre homens e mulheres e entre pessoas de diferentes raças.</li>
                    <li>Direito das pessoas com deficiência a serem tratadas com respeito e terem acesso adequado aos espaços da cidade.</li>
                  </ul>
                  <p class="texto_paragrafo">A partir da metade do século XX, a Organização das Nações Unidas (ONU) promulgou uma série de declarações inspiradas na Declaração dos Direitos do Homem e do Cidadão. Os países-membros da ONU aprovaram essas declarações e devem segui-las, incluindo:</p>
                 <ul>
                  <li>Declaração Universal dos Direitos Humanos, promulgada em 1948.</li>
                  <li>Declaração dos Direitos da Criança, promulgada em 1959.</li>
                  <li>Declaração dos Direitos das Pessoas com Deficiência, promulgada em 1975.</li>
                 </ul>
                  <br>
                  <p class="card-text">Quais foram algumas das conquistas resultantes das lutas por direitos no século XIX e XX mencionadas no texto?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q19" value="A" maxlength="1">-Direito ao voto, igualdade de direitos entre homens e mulheres, e acesso gratuito à educação.</li>
                          <li><input type="radio" name="q19" value="B" maxlength="1">-Direito à saúde, igualdade de direitos entre brancos e negros, e segurança no trabalho.</li>
                          <li><input type="radio" name="q19" value="C" maxlength="1">-Direito à moradia, igualdade de direitos entre crianças e adultos, e participação política.</li>
                          <li><input type="radio" name="q19" value="D" maxlength="1">-Direito à liberdade de expressão, igualdade de direitos entre pessoas com deficiência e pessoas sem deficiência, e acesso gratuito ao transporte público.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 20</h5>
                  <p class="card-text">Quais são algumas das declarações promulgadas pela Organização das Nações Unidas (ONU) que estão mencionadas no texto?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q20" value="A" maxlength="1">-Declaração Universal dos Direitos Humanos, Declaração dos Direitos das Mulheres e Declaração dos Direitos dos Trabalhadores.</li>
                          <li><input type="radio" name="q20" value="B" maxlength="1">-Declaração dos Direitos do Homem e do Cidadão, Declaração dos Direitos dos Trabalhadores e Declaração dos Direitos das Pessoas Idosas.</li>
                          <li><input type="radio" name="q20" value="C" maxlength="1">-Declaração Universal dos Direitos Humanos, Declaração dos Direitos da Criança e Declaração dos Direitos das Pessoas com Deficiência.</li>
                          <li><input type="radio" name="q20" value="D" maxlength="1">-Declaração dos Direitos do Homem e do Cidadão, Declaração dos Direitos das Pessoas com Deficiência e Declaração dos Direitos das Pessoas Idosas.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>   
        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>